* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_primario: #d3d013;
  --color_secundario: #000000;
  --color_blanco: #ffffff;
  --tamanio_fuente: 15px;
  --maximo_ancho: 1200px;
  --alto_nav: 70px;
}

::selection {
  background-color: var(--color_primario);
  color: var(--color_secundario);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--tamanio_fuente);
  font-family: Verdana;
  background-color: var(--color_secundario);
  color: var(var--color_blanco);  
  color: #ffffff;
}

header {
  background-color: var(--color_primario);
  color: var(--color_secundario);
  position: fixed;
  /*position: sticky; Este, o el fixed sirven para dejar el menu fijo, y que no se oculte*/
  width: 100%;
  top: 0;
}

section {
  height: calc(100vh - var(--alto_nav)); 
}

.contenedor {
  width: 100%;
  max-width: var(--maximo_ancho);
  margin: 0 auto;
  overflow: hidden;
}

.h-100{
  height: calc(100vh - var(--alto_nav));
}

.nav {
  /*height: 70px;*/
}

.nav__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__lista {
  height: var(--alto_nav);
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 120px;
  height: 90px;
  /*filter: grayscale(100%);*/
}

.nav__item {
  text-decoration: none;
  color: var(--color_secundario);
  font-weight: bold;
}

.nav__link {
  text-decoration: none;
  /*background-color:rgb(6, 179, 44);*/
  color: var(--color_secundario);
}

.logo2 {
  width: 400px;
  height: 400px;
}

/**
..........#Principal.......
**/

.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ilustracion {
  order: 1;
  flex-basis: 5%;
}

.contenedor-textos {
  order: 0;
  flex-basis: 40%;
}

.Titulo {
  font-size: 48px;
  font-weight: 700;
}

.parrafo {
  margin: 20px 0;
  font-weight: 300;
  font-size: 24px;
}

.btn {
  display: inline-block;
  background-color: var(--color_primario);
  color: var(--color_secundario);
  text-decoration: none;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 13px;
}

.titulo_diseño{
  font-size: 28px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/**-----------------------
..........#Nosotros.......
-----------------------**/


.ilustracion3 {
  height: 400px;
  width: 400px;
}

.contenedor-textos-2 {
  order: 1;
  flex-basis: 40%;
}

.titulo_diseño {
  font-size: 48px;
  font-weight: 700;
}

.parrafo_2 {
  margin: 20px 0;
  font-weight: 300;
  font-size: 18px;
}

/**-----------------------
..........#CARDS..........
-----------------------**/

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card__item {
  max-width: 350px;
  width: 30%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: var(--color_blanco);
  color:var(--color_secundario);
  padding: 40px 0;
  border-radius: 10px;
  
}

.card__item--activo {
  background-color: var(--color_primario);
  
}

.card__plan {
  margin-bottom: 20px;
}

.card__precio {
  font-size: 3rem;
}

.card__caracteristica {
  margin-bottom: 25px;
}

.btn--negro {
  background-color: var(--color_secundario);
  color: var(--color_blanco);
}

/**-----------------------
..........#Servicios......
-----------------------**/

.servicios {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.titulo_servicios {
  font-size: 48px;
  text-align: center;
}

/**-----------------------
..........#Galeria........
-----------------------**/

.galeria {
  display: flex;          /* Activa un diseño flexible */
  flex-wrap: wrap;        /* Permite que las imágenes pasen a otra línea si es necesario */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center;    /* Centra verticalmente los elementos */
  gap: 9px;               /*Espaciado entre las imágenes */
  /*padding: 20px;          /* Opcional: Espaciado interno del contenedor */ 
  /* border: 1px solid #ccc;    Borde para el contenedor */

}

.titulo_galeria {
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.logo_durazno { 
  width: 210px;       /*ancho de todas las imagenes (de galeria)*/
  height: 210px;      /*alto de todas las imagenes (de galeria)*/
  filter: drop-shadow(0 0 5px rgb(242, 255, 0));
  
}

.parrafo_3 {
  font-size: 18;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/**-----------------------
..........#Contacto.......
-----------------------**/

.registro {
  width: 370px;
  height: 580px;
  background-color:var(--color_primario);      /*Color relleno formulario*/
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  font-size: verdana;
  color: var(--color_secundario);       /*color de letra*/
}

.registro h4 {
  font-size: 22px;        /*tamaño letra formluario de contacto*/
  margin-bottom: 20px;    /*Espacio inferioir entre formulario, y campos para escribir*/

}

.controles {      /*Nombre,*/
  text-align: center;
  width: 300px;                             /*Tamaño de largo de cada campo*/
  background-color: rgb(255, 255, 255);  /*Color de relleno*/
  padding: 10px;                       /*Grosor de los campos*/
  border-radius: 4px;                 /*Redondea esquinas de los campos*/
  margin-bottom: 16px;                /*Espacio inferior entre cada campo*/
  border: 1px solid #000000;        /*Color de borde*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;                    /*Tamaño de letra interior de cada campo*/
}

.registro p {     /*Términos y condiciones*/
  height: 60px;
  text-align: center;
  font-size: 18px;
}

.registro a {
  color: rgba(0, 0, 0, 0.945);    /*color terminos y condiciones texto*/
  
}

.registro a:hover{
  color: rgba(0, 0, 0, 0.945);    /*color al pasar el cursor por terminos y condiciones*/
  text-decoration: underline;
}

.registro .boton_formulario {
  width: 300px;
  background-color:var(--color_blanco);     /*Color boton*/
  border: none;
  padding: 12px;
  color: rgb(0, 0, 0);                  /*color boton*/
  margin: 16px 0px;
  font-size: 16px;                        /*tamaño de boton enviar*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 4px;                   /*Redondea esquinas del boton*/
  cursor: pointer;                      /*cursor al pasar el mouse por el boton*/
  transition: background-color 0.3s ease-in-out;
}

.controles_mensaje {      /*Apartado de mensaje*/
  text-align: center;
  width: 300px;                             /*Tamaño de largo de cada campo*/
  height: 80px;                             /*alto del controlador de mensaje*/
  background-color: rgb(255, 255, 255);  /*Color de relleno*/
  padding: 10px;                       /*Grosor de los campos*/
  border-radius: 4px;                 /*Redondea esquinas de los campos*/
  margin-bottom: 16px;                /*Espacio inferior entre cada campo*/
  border: 1px solid #000000;        /*Color de borde*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;                    /*Tamaño de letra interior de cada campo*/

}